doctype html
html
    head
        title Information
        style
            | pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
            | .string { color: green; }
            | .number { color: darkorange; }
            | .boolean { color: blue; }
            | .null { color: magenta; }
            | .key { color: red; }

    body(
        onload = "document.body.appendChild(document.createElement('pre')).innerHTML = '" + text.split('\n').join('') + "';"
    )